// .timer {
//     display: none;
// }

.field {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color:#b9baba;
}

.value {
    font-size: 35px;
    color:#fff;
    background-color:#000;
    
    border-radius: 5px;
}

.timer {
    width:250px;

    margin:30px auto 0px auto;
	padding:15px;

    display: flex;
    justify-content:space-between;
}

#date-selector {
    display: inline-flex;
    margin-right: 60px;
}