:root {
  --font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  display: flex;
  flex-grow: 1;
  padding: 8px 16px;
  margin-top: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: all 1s ease;
}

label {
  display: flex;
  flex-direction: column;
}

form {
  padding: 28px;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover {
  border: 2px solid #000;
}

input.valid {
  border-color: #4caf50;
}

input.invalid {
  border-color: #f44336;
}

button {
  width: fit-content;
  height: 40px;
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 8px;
  border-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

button {
  background-color: #4e75ff;
}

button:hover {
  background-color: #6c8cff;
}

button[type='reset'] {
  background-color: #ff4e4e;
}

button[type='reset']:hover {
  background-color: #ff7070;
}
